{{#author}}
  <div class="row">
    <div class="col-md-12">
      <div class="page-header" id="blog-header">
        <h1>{{name}}</h1>
        <h2>{{bio}}</h2>
        {{#if cover}}
          
        {{/if}}
      </div>
    </div>
  </div>
{{/author}}

{{> "loop"}}
