body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #2b013b;
}

#main-nav {
  position: fixed;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 10;
}

#main-body {
  margin-top: 4%;
  margin-bottom: 4%
}

.page-header-inner, .post-loop-inner {
  color: #ffffff;
  background-color: rgba(40, 35, 42, 0.5);
  border-color: rgba(40, 35, 42, 0.5);
  border-size: 5px;
  border-style: hidden;
  border-radius: 10px;
  padding: 5px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.page-header, .post-loop {
  border-color: rgba(40, 35, 42, 0.5);
  border-size: 5px;
  border-style: hidden;
  border-radius: 10px;
  margin: 4%;
  padding: 10px;
}
