body {
  margin-left: 5%;
  margin-right: 5%;
}

#main-nav {
  position: fixed;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 10;
}

#main-body {
  margin-top: 25px;
  margin-bottom: 25px;
}
